@model ZCaixaV5.Models.Usuario


@{
    ViewData["Title"] = "Login";
}

<body>
    <main>
        <div class="login-area">

            <h3> @ViewBag.Message </h3>
            <div class="Login-box">
                <div class="logo-login-area">
                    <a asp-action="Index"><img src="~/imagens/logo-horizontal.png" alt=""></a>
                    <p class="text-area-logo">Insira suas credenciais de acesso abaixo.</p>
                </div>

                <div class="login-entrar-area">
                    <form method="post" action="" class="entrada-dados-login">
                        <p>E-mail, usuário ou telefone</p>
                        <input asp-for="Username">
                        <span asp-validation-for="Username" class="text-danger"></span>

                        <span class="entrada-dados-login">
                            <p>Senha</p>
                            <input asp-for="Senha" type="password">
                            <span asp-validation-for="Senha" class="text-danger"></span>
                        </span>

                        <span class="area-botao-final">
                            <input type="submit" value="Entrar" class="entrar-btn-login"></input>
                            <a asp-action="RecuperaSenha"><p>Esqueci minha senha</p></a>
                            <a asp-controller="Usuarios" asp-action="Create"><p>Criar um cadastro</p></a>
                        </span>


                    </form>

                </div>
            </div>
        </div>
    </main>
</body>



