@{
    ViewData["Title"] = "Esqueci Minha Senha";
}
<<body>
    <main>
        <div class="login-area">

            <div class="recupera-box-area">


                <div class="cabeçalho-cadastro">
                    <a class="cabeçalho-cadastr-db1" asp-action="Index">
                        <img class="logo-cadastro" src="~/imagens/logo-horizontal.png" alt="">
                    </a>
                    <div class="cabeçalho-cadastr-db2">
                        <h1>Esqueci minha senha</h1>
                    </div>
                </div>

                <div class="main-recuperacao-area">
                    <p class="textos-informativos">Insira seu nome de usuário, e-mail ou telefone que você usou no cadastro.</p>
                    <p class="textos-informativos"> Nós mandaremos um e-mail com seu nome de usuário e sua senha.</p>
                    <div class="">

                        <input type="text">
                    </div>

                    <div class="btn-cadastro-area">
                        <button class="btn-cadastro-area enviarEmail">Enviar</button>
                    </div>
                </div>

            </div>
        </div>
    </main>
</body>
