@model ZCaixaV5.Models.Lancamento

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Lancamento</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <div class="row">
                    <div class="col-md-8">
                        Escolha a Categoria
                        @Html.DropDownList("Categ", String.Empty)
                    </div>
                </div>
                <span asp-validation-for="CatId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Data" class="control-label"></label>
                <input asp-for="Data" type="date">
                <span asp-validation-for="Data" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Descricao" class="control-label"></label>
                <input asp-for="Descricao" class="form-control" />
                <span asp-validation-for="Descricao" class="text-danger"></span>
            </div>
            <div class="form-group">
                <div class="row">
                    <div class="col-md-8">
                        Escolha o Tipo:
                        @* Passando o Nome da ViewBag *@
                        @Html.DropDownList("TipoLanId", String.Empty)
                    </div>
                </div>
                <h3 class="text-danger"> @ViewData["Message"] </h3>
                <span asp-validation-for="Tipo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Valor" class="control-label"></label>
                <input asp-for="Valor" type="money" step="any" id="decimal" />
                <span asp-validation-for="Valor" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Categoria">Cadastrar Categoria</a>
    <a asp-action="Index">Back to List</a>
</div>
<div style="margin-top:70px; margin-left:70px">
     
        <p>
              @Html.Partial("Lista", Model.ListaLancamentos);
        </p>

    
</div>

@*@section Scripts { 
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}*@
