@model ZCaixaV5.Models.Lancamento

@{
    ViewData["Title"] = "Mensagem de Erro";
}

<h1>Erro</h1>

<h4>Mensagem de Erro</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        @if (TempData["mensagemErro"] != null)
        {
            <div class="field-error">
                @TempData["mensagemErro"]
            </div>
        }
    </div>
</div>

<div>
    <a asp-action="Index">Lista de Lançamentos</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
