/*----------------RESET CSS---------------*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}

body {
    line-height: 1;
}

ol, ul {
    list-style: none;
}

blockquote, q {
    quotes: none;
}

    blockquote:before, blockquote:after,
    q:before, q:after {
        content: '';
        content: none;
    }

table {
    border-collapse: collapse;
    border-spacing: 0;
}
/* -------------------------------------------------------*/

div, article, section, nav, header, main, footer, img, p {
    transition: all .3s ease;
    transition-delay: 0.2s;
}

/* -------------- Variaveis ------------- */
:root {
    --fonte-primaria: 'Noto Sans KR', sans-serif;
    --cor-primaria: #1e1e1e;
    --cor-secundaria: #399b53;
    --cor-terciaria: #fafafa;
}

a {
    text-decoration: none;
}
/* -------------------------------------------------------*/


.entradas-saidas-area::-webkit-scrollbar {
    width: 9px; /* width of the entire scrollbar */
    -webkit-box-shadow: 0px 0px 5px -6px rgb(0 0 0 / 89%);
    box-shadow: 0px 0px 8px -5px rgb(0 0 0 / 89%);
}

.entradas-saidas-area::-webkit-scrollbar-track {
    background: #b8b8b8; /* color of the tracking area */
}

.entradas-saidas-area::-webkit-scrollbar-thumb {
    background-color: #959595; /* color of the scroll thumb */
    border-radius: 4px; /* roundness of the scroll thumb */
    border: 3px solid #959595; /* creates padding around scroll thumb */
}

.area-lancamentos::-webkit-scrollbar {
    width: 5px; /* width of the entire scrollbar */
}

.area-lancamentos::-webkit-scrollbar-track {
    background: #b8b8b8; /* color of the tracking area */
}

.area-lancamentos::-webkit-scrollbar-thumb {
    background-color: #959595; /* color of the scroll thumb */
    border-radius: 4px; /* roundness of the scroll thumb */
    border: 3px solid #959595; /* creates padding around scroll thumb */
}


body {
    font-family: var(--fonte-primaria);
    margin: 0;
    padding: 0;
}

main {
    height: 100vh;
    margin: 0;
    padding: 0;
}


.login-area {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: var(--cor-terciaria);
    width: 100%;
    height: 100%;
}

.Login-box {
    display: flex;
    background-color: #eaeaea;
    width: 50%;
    height: 80%;
    border-radius: 30px;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    align-items: center;
}

.logo-login-area {
    width: 100%;
    text-align: center;
}

    .logo-login-area img {
        width: 300px;
        margin-bottom: 30px;
        max-width: 80%;
    }

.text-area-logo {
    margin-top: 0;
    font-size: 16px;
}

.login-entrar-area {
    flex-direction: column;
    width: 100%;
    display: flex;
    align-items: center;
}

.entrada-dados-login {
    margin-top: 10px;
    width: 40%;
}

    .entrada-dados-login p {
        margin-top: 10px;
        margin-bottom: 5px;
        font-size: 14px;
    }

    .entrada-dados-login input {
        padding: 9px;
        width: 100%;
        border-radius: 5px;
        border: solid 1px #959595;
        font-family: 'Noto Sans KR';
    }




.entrar-btn-login {
    padding: 9px;
    width: 100px;
    border-radius: 5px;
    border: solid 1px #959595;
    margin-top: 15px;
    background-color: #e0e0e0;
    font-family: 'Noto Sans KR';
}

    .entrar-btn-login:hover {
        cursor: pointer;
    }

.area-botao-final {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

    .area-botao-final a {
        font-style: unset;
        text-decoration: none;
        font-size: 14px;
    }

    .area-botao-final p {
        color: #1e1e1e;
        margin-top: 20px;
        margin-bottom: 1px;
    }

.cadastro-box-area {
    display: flex;
    background-color: #eaeaea;
    width: 50%;
    height: 95%;
    border-radius: 30px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.cabeçalho-cadastr-db1 {
    display: flex;
    width: 40%;
    justify-content: flex-end;
    align-items: center;
}

.cabeçalho-cadastr-db2 {
    display: flex;
    width: 60%;
    align-items: center;
    justify-content: center;
}

    .cabeçalho-cadastr-db2 h1 {
        font-size: 30px;
        font-weight: 400;
        margin-top: 20px;
    }

.logo-cadastro {
    margin-top: 20px;
    width: 70%;
}

.cabeçalho-cadastro {
    display: flex;
}

.main-cadastro-area {
    display: flex;
    flex-direction: column;
    width: 70%;
    margin-top: 10px;
}

    .main-cadastro-area input {
        margin-top: 5px;
        margin-right: 10px;
        padding: 9px;
        border-radius: 5px;
        border: solid 1px #959595;
        font-family: 'Noto Sans KR';
    }


    .main-cadastro-area p {
        margin-top: 10px;
        margin-right: 5px;
        font-size: 13px;
        font-weight: 400;
    }

    .main-cadastro-area button {
        margin-top: 20px;
        font-size: 15px;
        padding: 9px;
        width: 100px;
        border-radius: 5px;
        border: solid 1px #959595;
        background-color: #e0e0e0;
        cursor: pointer;
    }


.campos-em-row {
    display: flex;
}

.btn-cadastro-area {
    flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: center;
}

.main-cadastro-area label {
    margin-right: 5px;
    font-size: 13px;
}

.cadastro-termos-area {
    margin-top: 10px;
}

.recupera-box-area {
    display: flex;
    background-color: #eaeaea;
    width: 50%;
    height: 60%;
    border-radius: 30px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.textos-informativos {
    text-align: center;
    font-size: 1em;
    margin-top: 7px;
    width: 35rem;
    max-width: 100%;
}

.main-recuperacao-area {
    display: flex;
    flex-direction: column;
    width: 95%;
    margin-top: 10px;
    align-items: center;
}

    .main-recuperacao-area input {
        margin-top: 1.5rem;
        margin-right: 10px;
        padding: 9px;
        border-radius: 5px;
        border: solid 1px #959595;
        font-family: 'Noto Sans KR';
        width: 15rem;
        max-width: 100%;
    }


    .main-recuperacao-area p {
        margin-top: 10px;
        margin-right: 5px;
        font-weight: 400;
    }

    .main-recuperacao-area button {
        margin-top: 20px;
        font-size: 15px;
        padding: 9px;
        width: 100px;
        border-radius: 5px;
        border: solid 1px #959595;
        background-color: #e0e0e0;
        cursor: pointer;
    }

/* Plataforma */

.btn-relatorio {
    position: fixed;
    left: 0;
    bottom: 0;
    margin-bottom: 2rem;
    margin-left: 10rem;
}

.icones {
    width: 20px;
}

.btn-limpo {
    border: 0;
    background-color: transparent;
    padding: 0;
    cursor: pointer;
}

.btn-plataforma {
    padding: 1px;
    width: 70px;
    height: 30px;
    border-radius: 5px;
    border: solid 1px #959595;
    margin-top: 15px;
    background-color: #e0e0e0;
    font-family: 'Noto Sans KR';
    transition: all .1s ease;
}

.btn-adiciona-lancamento {
    background-color: #479ef7;
    border: solid 1px #479ef7;
}

    .btn-adiciona-lancamento:hover {
        background-color: #4790da !important;
        border: solid 1px #4790da;
    }

.btn-plataforma:hover {
    background-color: #e9e9e9;
}

.btn-atualiza {
    margin-left: 10px;
    background-color: #479ef7;
    border: solid 1px #479ef7;
}

    .btn-atualiza:hover {
        background-color: #4790da;
        border: solid 1px #4790da;
    }

.plataforma-header {
    display: flex;
    background-color: #CFCFCF;
    width: 100%;
    height: 20%;
}

.logo-plataforma {
    width: 70%;
    height: 80%;
}

.logo-plataforma-area {
    width: 25%;
    display: flex;
    align-items: center;
    justify-content: center;
    align-content: center;
    flex-direction: row;
}

.botoes-plataforma-area {
    width: 25%;
    display: flex;
    align-items: center;
    justify-content: center;
    align-content: center;
    flex-direction: row;
}

.meta-plataforma-area {
    width: 30%;
    display: flex;
    align-items: center;
    justify-content: center;
    align-content: center;
    flex-direction: column;
}

.meta-png {
    width: 80%;
}

.usuario-plataforma-area {
    width: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
    align-content: center;
    color: #333333;
    ;
}

#checkbox-menu-plataforma {
    display: none;
}

.menu-usuario-plataforma {
    position: absolute;
    display: none;
    top: 13vh;
    background-color: #bbbbbb;
    width: 11vw;
    height: 6vw;
    border-radius: 4px;
    -webkit-box-shadow: 0px 0px 5px -6px rgba(0,0,0,0.89);
    box-shadow: 0px 0px 12px -5px rgba(0,0,0,0.89);
    transition: all .7s ease;
}


    .menu-usuario-plataforma ul {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 100%;
    }

    .menu-usuario-plataforma li {
        display: flex;
        height: 50%;
    }

        .menu-usuario-plataforma li a {
            display: flex;
            flex-direction: row;
            width: 100%;
            align-items: center;
            color: #333333;
            font-weight: 400;
        }

.opcao-minha-conta:hover {
    background-color: #5cbf71;
    cursor: pointer;
    border-radius: 4px;
    transition: all .3s ease;
}

.opcao-sair:hover {
    background-color: #e75362;
    cursor: pointer;
    border-radius: 4px;
    transition: all .3s ease;
}

.icones-menu-usuario {
    width: 2.3vw;
    margin-right: 0.5rem;
}

#checkbox-menu-plataforma:checked ~ .menu-usuario-plataforma {
    display: flex;
    align-items: center;
    color: #333333;
}

.Area-Central {
    display: flex;
    flex-direction: row;
    height: 80%;
}

.Area-esquerda {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 25%;
    background-color: #CFCFCF;
    border-top: 3px solid #b8b8b8;
    border-right: 3px solid #b8b8b8;
    padding: 10px;
    max-height: 100%;
}

.Area-direita {
    width: 75%;
    background-color: #fff;
    border-top: 3px solid #b8b8b8;
}

.modal-lancamento {
    background-color: #CFCFCF;
}

.cabecalho-filtro {
    display: flex;
    flex-direction: row;
    width: 100%;
    background-color: #bbbbbb;
    height: 5%;
    align-items: center;
    text-align: center;
    border-bottom: 3px solid #b8b8b8;
}

.filtros-area {
    display: flex;
    flex-direction: row;
    width: 100%;
    background-color: #bbbbbb;
    height: 5%;
    align-items: center;
    text-align: center;
    border-bottom: 3px solid #b8b8b8;
}

.cabecalho-filtro a {
    color: #414141;
    font-size: 1vw;
    font-weight: 500;
}

.lancamento-conciliado {
    width: 9%;
    border-right: 2px solid #959595;
}

.lancamento-data {
    width: 10%;
    border-right: 2px solid #959595;
}

.lancamento-valor {
    width: 11%;
    border-right: 2px solid #959595;
}

.lancamento-categoria {
    width: 12%;
    border-right: 2px solid #959595;
}

.lancamento-descricao {
    width: 38%;
    border-right: 2px solid #959595;
}

.lancamento-tipo {
    width: 5%;
    border-right: 2px solid #959595;
}

.lancamento-excluir {
    width: 7.5%;
    border-right: 2px solid #959595;
}

.lancamento-alterar {
    width: 7.5%;
}

.lancamento-unitario {
    padding-bottom: 0.5rem;
    margin-top: 0.5rem;
    display: flex;
    flex-direction: row;
    width: 100%;
    background-color: #FFF;
    height: 5%;
    align-items: center;
    text-align: center;
    border-bottom: 1px solid #b8b8b88a;
}

    .lancamento-unitario p {
        color: #333333;
        font-size: 1vw;
    }


.campos-insere-lan-row {
    display: flex;
    flex-direction: row;
    align-content: center;
}

.formulario-lancamento-input {
    padding: 0.25rem;
    border-radius: 0.3rem;
    border-color: #fff;
    margin-top: 0.25rem;
    margin-bottom: 0.3rem;
    border: 2px solid #FFFFFF;
    margin-left: 0.8rem;
}

.formulario-lancamento p {
    margin-top: 0.3rem;
    margin-left: 0.8rem;
}

.modal-title {
    font-weight: 500;
}

.valor-area {
    width: 33%;
}

.campo-valor {
    width: 100%;
}
.campo-tipo {
    margin-left: 1rem;
}

.text-danger {
    margin-top: 5px;
    color: red;
    font-size: 10px;
}

.formulario-lancamento select {
    padding: 0.25rem;
    border-radius: 0.3rem;
    border-color: #fff;
    margin-top: 0.25rem;
    margin-left: 0.8rem;
}

.modal-footer{
    margin-top: 1rem;
}

.icone-lancamento-unitario {
    width: 1.0vw;
}

.area-lancamentos {
    display: flex;
    flex-direction: column;
    max-height: 95%;
    overflow-y: auto;
}



.area-esquerda-titulos {
    width: 100%;
    font-size: 0.9rem;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    font-weight: 400;
}

input[type=number]::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

input[type=number] {
    -moz-appearance: textfield;
    
}

.concicliacao {
    background-color: #5cbf71;
}

    .concicliacao:checked {
        background-color: #5cbf71;
    }

.entradas-saidas-area {
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: #FFF;
    border-radius: 5px;
    padding: 1.3rem;
    font-size: 0.9rem;
    -webkit-box-shadow: 0px 0px 5px -6px rgba(0,0,0,0.89);
    box-shadow: 0px 0px 8px -5px rgba(0,0,0,0.89);
    overflow-y: auto;
    max-height: 50vw;
    max-width: inherit;
}

.entradas-valores {
    display: flex;
    justify-content: space-between;
}

.saidas-valores {
    display: flex;
    justify-content: space-between;
    margin-top: 0.9rem;
}

.saldo-total-area {
    display: flex;
    margin-top: 0.9rem;
    justify-content: space-evenly;
}

.saldos-titulos {
    font-size: 0.8rem;
    font-weight: 500;
}

.underline-entradas-saidas {
    border-top: 1px solid #b8b8b8;
    margin-top: 1rem;
    margin-left: 1.5rem;
    margin-right: 1.5rem;
    text-align: center;
}

.entradas-saidas-categorias-area {
    margin-top: 2rem;
}

.categorias-titulo {
    margin-bottom: 1rem;
}

.valores-categorias {
    margin-bottom: 1rem;
    margin-top: 1rem;
}

.botoes-esquerda-areas {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.btn-area-esquerda {
    font-size: 0.9rem;
    width: 8rem;
}

.btn-data-mes {
    padding: 0.8vh;
    width: 9.8vh;
    font-size: 2vh;
    border-radius: 4px;
    border: 1px solid #959595;
}

.btn-ok {
    background-color: #5cbf71;
    border-radius: 4px;
    padding: 0.5vh;
    font-size: 2.2vh;
}


